/* @import url("colors.css"); */
:root {
    --color-accent: oklch(83.79% 0.0518 234.93);
    color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size and use the OS's UI font as the website font */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 10px;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

nav {
    display: flex;
    margin-bottom: 2em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color)
}

nav ul{
    display: contents;
}

nav li{
    display: contents;
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current{
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
    padding-bottom: 0.1em;
}

nav a:hover {
    border-bottom-width: 0.4em;
    border-bottom-color: var(--color-accent);
    border-bottom-style: solid;
    padding-bottom: 0.1em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

input, textarea, button, select {
    font: inherit;
}

label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

button {
    grid-column: 1 / -1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

article {
    grid-template-rows: subgrid;
    grid-row: span 3;
}

h2 {
    margin: 0;
}

.resume {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* gap: 2em; */
}

.left {
    /* background-color: #ebf0f4; */
    background-color: color-mix(in oklch, #ebf0f4, canvas 50%);
    padding: 1em;
    /* border-radius: 8px; */
}

.right {
    /* background-color: #e4e9ed; */
    background-color: color-mix(in oklch, #e4e9ed, canvas 35%);
    padding: 1em;
}

.resume header h2{
    border-bottom-width: 3px;
    border-bottom-color: black;
    border-bottom-style: solid;
    text-align: center;
}

.resume .center {
    text-align: center;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
}

#profile-stats dl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#profile-stats dt {
    grid-row: 1;
}

#profile-stats dd {
    grid-row: 2;
}

.project-year {
    color: gray;
    font-variant-numeric: oldstyle-nums;
    font-family: 'Baskerville';
}

#projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;
    /* Do not clip shapes outside the viewBox */
    overflow: visible;
    max-width: 50%;
}

.legend {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 1em;
    margin-top: 20px;
    padding: 2px;
    border: 2px double rgb(136, 168, 189);
    border-radius: 8px;
    flex: 1;
    max-width: 50%;
}

.legend li {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 10px;
}

.legend li .swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color);
    border-radius: 50%;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

svg:has(path:hover) {
    path:not(:hover) {
      opacity: 50%;
    }
}

path {
    transition: 300ms;
    cursor: pointer;
}

.selected {
    /* --color: oklch(60% 45% 0) !important; */
    --color: oklch(27.76% 0.1677 269.34) !important;
    
    &:is(path) {
      fill: var(--color);
    }
}
#stats {
    justify-content: center;
}
.stats {
    background-color: color-mix(in oklch, var(--color-accent), canvas 30%);
    padding: 20px;
    border-radius: 8px;
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    gap: 10px;
    text-align: center;
}

.stats dt {
    grid-row: 1;
    /* border: solid black 2px; */
}

.stats dd{
    grid-row: 2;
    /* border: solid blue 2px; */
}

#chart {
    margin-left: 10px;
}

.gridlines line {
    opacity: 0.5;
}

dl.info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    margin: 0;
    transition-duration: 500ms;
    transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
}

dl.info dt {
    opacity: 0.6;
}

.tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
    background-color:color-mix(in oklch, var(--color-accent), canvas 50%); /*change later*/
    box-shadow: inset; /*change later*/
    border-radius: 8px;
    backdrop-filter: blur(3px);
    padding: 15px;
}

circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
}
  
circle:hover {
    transform: scale(1.5);
}

@keyframes marching-ants {
    to {
      stroke-dashoffset: -8; /* 5 + 3 */
    }
}
  
.selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
}

circle.selected {
    fill: #3c8448;
}